<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Makan</title>
    <link rel="icon" href="./images/logo.svg">
    <link rel="manifest" href="manifest.json">
    <script src="https://kit.fontawesome.com/aee682b7ad.js" crossorigin="anonymous"></script>
</head>

<body>
    <a href="#main-content" class="skip-link">Menuju ke konten</a>
    <header>
        <!-- nav -->
        <nav class="container">
            <a href="#/home" class="nav-brand">
                <img src="./images/logo-w.svg" alt="Logo Makan" class="nav-img">
            </a>

            <ul id="navigation-drawer" class="nav-list">
                <li class="nav-item"><a href="#/home">Home</a></li>
                <li class="nav-item"><a href="https://github.com/muhamadarsaludin" target="_blank">About</a></li>
                <li class="nav-item"><a href="#/favorite">Favorite <i class="fas fa-heart"></i></a></li>
            </ul>

            <a href="#/toggle" class="nav-toggle">
                <i class="toggle-icon fas fa-bars"></i>
                <!-- <i class="icon-times fas fa-times hidden"></i> -->
            </a>

        </nav>
    </header>
    <main id="main-content">
        <!-- render content -->

    </main>
    <!-- footer -->
    <footer class="container">
        <p><i class="far fa-copyright"></i> <span class="year"></span> makan.com, All rights reserved</p>
    </footer>
</body>

</html>