.image-responsive {
    margin-top: 120px;
    border-radius: 15px;
}

.restaurant-menu {
    display: flex;

    .menu-food {
        flex-grow: 1;
    }

    .menu-drink {
        flex-grow: 1;
    }
}